.project-container {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: 0 -20px;
    border-radius: 6px;
    width: 648px;
}

.icons-links-section {
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icons-links-section>.project-container {
    display: none;
}

.github-link:hover :global(svg),
.webpage-link:hover :global(svg) {
    color: var(--gray8);
    transition: all ease-in-out 0.1s;
}

.a {
    text-decoration: none;
}

.project-container:hover {
    background-color: var(--gray4);
}

.description {
    margin-top: 8px;
    font-size: var(--font-size-14);
}

.p {
    color: var(--body-color);
    font-size: var(--font-size-14);
    font-weight: 300;
    line-height: 28px;
}

.date {
    font-size: var(--font-size-12);
    color: var(--gray9);
}

.date-title-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project-title-container {
    color: var(--gray12);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.h2 {
    font-size: var(--font-size-24);
    font-weight: 500;
    line-height: 1.2;
    color: var(--title-color);
}

.span {
    font-size: var(--font-size-14);
    font-weight: 500;
    line-height: 1.2;
    color: var(--body-color);
}

.h2,
.span {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
}

@media only screen and (max-width: 770px) {
    .project-container {
        width: auto;
        margin: 0;
    }
}
