:root {


    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-36: 2.5rem;

    --font-title: var(--font-size-36);
    --font-small-title: var(--font-size-24);

    --gray1: hsl(0, 0%, 8.5%);
    --gray2: hsl(0, 0%, 11.0%);
    --gray3: hsl(0, 0%, 13.6%);
    --gray4: hsl(0, 0%, 15.8%);
    --gray5: hsl(0, 0%, 17.9%);
    --gray6: hsl(0, 0%, 20.5%);
    --gray7: hsl(0, 0%, 24.3%);
    --gray8: hsl(0, 0%, 31.2%);
    --gray9: hsl(0, 0%, 43.9%);
    --gray10: hsl(0, 0%, 49.4%);
    --gray11: hsl(0, 0%, 62.8%);
    --gray12: hsl(0, 0%, 93.0%);

    --background-color: var(--gray1);
    /* --background-color: rgba(5, 5, 5, 5); */

    --title-color: hsla(0, 0%, 100%, 1);
    --body-color: var(--gray11);

}



.title {
    font-family: var(--noto-serif-display-font);
    font-size: var(--font-title);
    font-weight: 500;
    color: var(--title-color);
}

.small-text {
    font-family: var(--noto-serif-font);
    font-size: var(--font-size-14);
    color: var(--body-color);
}

.small-title {
    font-family: var(--noto-serif-font);
    font-size: var(--font-small-title);
    /* font-weight: 400; */
    color: var(--body-color);
}

.body-text {
    font-family: var(--noto-serif-font);
    font-size: var(--font-size-16);
    color: var(--body-color);
}
