---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="intro-section">
			<h1 class="title">Mateo Arteaga</h1>
			<h2 class="small-text">
				Software engineer based in Medellin-Colombia 📍
			</h2>
		</section>
		<section class="content-section">
			<hr />
			<p>
				In love with design and code. Working at <a
					href="https://www.pragma.co/"
					class="company-link">Pragma</a
				>.
			</p>
			<p>
				Investing almost all of my free time looking for awesome projects and
				inspiration. Interested in web development, edge functions, design
				systems, open-source and more.
			</p>
		</section>
	</main>
</Layout>

<style>
	.company-link {
		color: plum;
		cursor: pointer;
	}
	:global(a, h1, h2, h3, h5, h6, p) {
		all: unset;
	}

	li {
		line-height: 28px;
	}

	.intro-section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
	}

	hr {
		margin-top: 28px;
		margin-bottom: 24px;
		border: 0.1px solid var(--gray8);
		width: 18px;
	}

	.content-section {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	h5 {
		margin-top: 8px;
		font-weight: 300;
	}

	main {
		margin-top: 48px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	:global(p) {
		color: var(--body-color);
		font-weight: 300;
		line-height: 28px;
	}

	@media only screen and (max-width: 530px) {
		main {
			margin-top: 0;
		}
	}
</style>
