---
import Footer from "../components/Footer.astro";
import Logo from "../components/Logo.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
        />
        <title>{frontmatter.title}</title>

        <style>
            .markdown__wrapper {
                max-width: 650px;
                margin: 0 auto;
            }
        </style>
    </head>

    <body>
        <header>
            <a href="/" class="logo-anchor">
                <Logo />
            </a>
        </header>
        <section class="content-container">
            <article class="markdown__wrapper">
                <slot />
            </article>
        </section>
        <footer>
            <Footer />
        </footer>
        <style>
            footer {
                margin-top: auto;
            }

            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }

            html {
                background: var(--background-color);
            }

            .logo-anchor {
                display: block;
                width: fit-content;
                text-decoration: none;
                cursor: pointer;
            }

            .content-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                max-width: 720px;
                margin: 0 auto;
                animation: content-load 0.7s ease-in-out;
            }
        </style>
    </body>
</html>
