---
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';
import '../styles/global.css';
import '../styles/markdown.css';

const { frontmatter } = Astro.props;
const { pathname } = Astro.url;

const aux = pathname.split('/');
const backPath = aux.slice(0, aux.length - 1).join('/');

console.log(backPath);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" />
		<title>{frontmatter.title}</title>
		<style>
			.markdown__wrapper {
				max-width: 1200px;
				margin: 0 auto;
			}
		</style>
	</head>
	<body>
		<header>
			<a href={backPath} class="logo-link">
				<Logo />
			</a>
		</header>
		<section class="content-container">
			<article class="markdown__wrapper">
				<slot />
			</article>
		</section>
		<footer>
			<Footer />
		</footer>
		<style>
			footer {
				margin-top: auto;
			}

			body {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
			}

			html {
				background: var(--background-color);
			}

			.logo-link {
				display: block;
				width: fit-content;
				cursor: pointer;
				text-decoration: none;
			}

			.content-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				max-width: 720px;
				margin: 0 auto;
				animation: content-load 0.7s ease-in-out;
			}
		</style>
	</body>
</html>
